/build
.vscode/

keys/*

# SLES credentials
SCCcredentials
SUSE_Linux_Enterprise_High_Availability_Extension_16.0_x86_64

# Build artifacts
*.raw
*.bmap
*.gz
*.iso
*.changes
*.packages
*.verified
*.result
*.result.json
