[Unit]
Description=Synchronize system clock to NTP and PTP time sources
Documentation=man:timemaster
After=chronyd.service
Conflicts=chronyd.service phc2sys.service ptp4l.service

[Service]
Type=simple
ExecStart=/sbin/timemaster -f /etc/timemaster.conf

[Install]
WantedBy=multi-user.target
